# course config files
*.yaml

# gradle
.gradle/
gradle/
gradlew
*.bat
build


# idea confid
.idea

# old stages
/Static Code Analyzer/*
!/Static Code Analyzer/task/
/Static Code Analyzer/task/*
!/Static Code Analyzer/task/analyzer/
!/Static Code Analyzer/task/build.gradle
!/Static Code Analyzer/task/build.gradle.kts
